/* Individual styles for controls */

/* Popup Dialogs */

.popPP .avatar{float: right; width: 102px; text-align: center; background: #f2f2f2; padding: 20px}
.popPP .avatar a{margin-top: 10px; display: inline-block}
.popPP .fields-list{float: left; width: 370px; margin-bottom: 15px;}
/*.popPP .fields-list li .field{width: 285px;}*/

.popVD{padding: 20px !important}
.popVD .fields-list{margin: 25px 0 45px; padding: 0 20px}
.popVD .fields-list li .field{width: 255px;}

.popES ul.fields-list label{width: 120px}
.popES .fields-list > li{margin: 0 0 20px}