.clear{clear:both; font-size:1px; height: 0; line-height:0;}
a{ outline: none; text-decoration: none; color: #1b5ab2;}
a img{border: none}
a:hover{text-decoration: none; color: #f0770e}
.left{float: left}
.right{float: right}
.full-width{width: 100%}
li{list-style: none}

@font-face { font-family: 'Ubuntu'; src: url(../fonts/Ubuntu-M.ttf); }

fieldset{border: none; border-top: 1px dotted #ff7200; padding: 10px 0 15px 0}
fieldset legend{color: #ff7200; background: #fff; font-weight: 500; text-shadow: 0 1px 0 #ffe3cc; padding: 0 17px 3px 0}


*{margin: 0; padding: 0}
html{height: 100%; background: #f2f2f2; }
body{height: 100%; margin: 0; font-family: 'Ubuntu', serif; min-width: 1000px; font-size: 12px; color: #555555; background: #f2f2f2 url(../images/header.png) top left repeat-x;}
#page{height: 100%; width: 100%; margin: 0px auto; display: block;}
#wrapper{min-height: 100%; min-width: 1000px; max-width: 1600px; margin: 0px auto;}
#content{height: 100%; padding: 0 0 40px;}

#header{height: 100px; width: 100%; position: relative;}
#header .logo a{display: inline-block; position: absolute; top: 20px; left: 60px; background: url(../images/logo.png) top left; width: 139px; height: 24px}
#header h1.logo{font-size: 0; text-indent: -900em}
#header .login{position: absolute; right: 20px; top: 20px; color: #9d9d9d; text-shadow: #333 0 -1px 0}
#header .login p{float: left; display: block; margin-right: 10px; padding: 4px 0}
#header .login a{color: #9d9d9d; float: left; display: block; padding: 0 14px 0 0; background: url(../images/login_button_right.png) right top no-repeat;}
#header .login a:hover{background-image: url(../images/login_button_right_hover.png); text-decoration: none}
#header .login a span{height: 27px; display: block; padding: 0 0 0 30px; line-height: 20px; background: url(../images/login_button_left.png) left top no-repeat;}
#header .login a:hover span{background-image: url(../images/login_button_left_hover.png)}
#header .menu{position: absolute; left: 40px; bottom: 0; font-size: 13px;}
#header .menu ul{float: left; margin: 0; padding: 0;}
#header .menu li{float: left; list-style: none; margin-right: 2px}
#header .menu a{color: #fff; text-shadow: #8f8f8f 0 1px 0; display: block; padding: 6px 15px; background: #515151; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0;}
#header .menu a:hover{background: #666; text-decoration: none}
#header .menu a.active{background: #f2f2f2; color: #444; text-shadow: #a3a3a3 0 1px 0}

#main-grid{padding: 20px; }
#main-grid .left-column{background: #fff; padding: 20px; width: 70%; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 0 0 10px #ccc; -moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc;}
#main-grid .left-column h2{color: #555555; font-size: 18px; margin-bottom: 20px; padding-left: 20px}

table.list{width: 100%; margin-bottom: 20px; border-collapse: separate; border-spacing: 0;}
table.list tbody tr td:first-child{border-left: 1px solid #fff}
table.list tbody tr td:last-child{border-right: 1px solid #fff}
table.list tbody tr td{border-top: 1px solid #fff; border-bottom: 1px solid #fff}
table.list tbody tr:hover td:first-child{border-left: 1px solid #fa923e}
table.list tbody tr:hover td:last-child{border-right: 1px solid #fa923e}
table.list tbody tr:hover td{border-top: 1px solid #fa923e; border-bottom: 1px solid #fa923e}
table.list thead th{border-bottom: 1px solid #ccc}
table.list tr.row0{background: #fff}
table.list tr.row1{background: #f2f2f2}
table.list th{text-align: left; padding: 10px 0}
table.list th:first-child, table.list td:first-child{padding-left: 20px}
table.list th a{color: #ff7200}
table.list td{text-align: left; padding: 0; height: 40px}
table.list td.tools{padding-left: 20px}
table.list td.tools ul{display: none}
table.list td.tools ul li{float: left; list-style: none; margin-right: 12px}
table.list td.tools ul li img{margin-right: 3px}
table.list tbody tr:hover .tools ul{display: inline-block}

#main-grid .right-column{float: right; width: 25%; padding: 20px 0; position: relative}
a.create span{display: inline-block; padding: 0 0 0 50px; line-height: 47px; height: 50px; background: url(../images/add_button_left.png) left top no-repeat}
a.create{display: inline-block; padding: 0 25px 0 0; color: #555555; font-size: 14px;  background: url(../images/add_button_right.png) right top no-repeat}
a.create:hover span{background-image: url(../images/add_button_left_hover.png)}
a.create:hover{background-image: url(../images/add_button_right_hover.png)}

#main-grid .right-column ul.tasks li{list-style: none; padding: 10px 0 0 10px; position: relative}
#main-grid .right-column ul.tasks li label{ text-shadow: #a9a9a9 0 1px 0; color: #555}
ul.catalog li{background: url(../images/icons/list.png) 1px 50% no-repeat; padding: 5px 0 5px 20px !important}
#footer{margin: -40px auto 0; height: 40px; width: 100%; position: relative; background: #3d3d3d}

.sd_container{background: #fff; color: #777; border: none; padding: 0; font-family: 'Mariard Pro',serif; font-size: 12px; text-align: center; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.sd_container h3{margin: 0; padding: 0; color: #fff; text-shadow: #9a9a9a -1px -1px 0px; line-height: 38px;  height: 40px; background: url(../images/dialog_top.png) 0 0 repeat-x; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius:  3px 3px 0 0; border-radius:  3px 3px 0 0;}
.sd_container .container{padding: 30px; text-align: left}
.sd_container fieldset{border: none}
.sd_container dt{padding: 0 0 10px 0}
.sd_container input[type="text"],input[type="password"]{width: 280px}
.sd_container label[for="rememberme"]{font-size: 11px}
.sd_container .ui-checkbox{margin: 10px 0}
.sd_container .links_list{border-top: 1px dotted #ccc}
.sd_container ul.links_list{padding: 20px 0 0 0; margin: 8px 0 0 0}
.sd_container ul.links_list li{list-style: none; padding: 0 0 5px 0}

/* Hovers, focuses, errors and styles for input elements  */
input[type="text"],
input[type="password"],
textarea{padding: 5px; color: #999999; background: #f2f2f2; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{background: #fff; border-color: #fa923e; color: #555555; text-shadow: #ddd 1px -1px 0 }
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover{border-color: #fa923e; text-shadow: #ddd 1px -1px 0 }
input.error,textareas.error{color: #aa2121 !important; background: #ffe1e1 !important; border: 1px solid #aa2121 !important}


/* Buttons styles */
.bt-grey {display:-moz-inline-box; display:inline-block; margin:0 13px 0 0; vertical-align:middle; background:url(../images/spr-btns.png) no-repeat 0 0; font-size:12px; line-height:12px; color:#a3a3a3 !important; text-decoration:none !important; text-shadow:0 -1px 0 #37393b;}
.bt-grey SPAN {display:block; position:relative; left:13px; background:url(../images/spr-btns.png) no-repeat 100% 0; height:23px; padding:4px 13px 0 0;}
.bt-grey:hover {background-position:0 -30px;}
.bt-grey:hover SPAN {background-position:100% -30px}
.bt-grey SPAN .i16 { position:relative; top:-2px; margin:0 0 0 -3px;}

.bt-xl {display:-moz-inline-box; display:inline-block; margin:0 23px 0 0; vertical-align:middle; background:url(../images/spr-btns.png) no-repeat 0 -60px; font-size:14px; line-height:14px; color:#555 !important; text-decoration:none !important; font-weight:500;}
.bt-xl SPAN { display:block; position:relative; left:23px; background:url(../images/spr-btns.png) no-repeat 100% -60px; height:33px; padding:17px 23px 0 0;}
.bt-xl:hover {background-position:0 -115px;}
.bt-xl:hover SPAN {background-position:100% -115px}
.bt-xl SPAN .i16 {position:relative; top:-1px; margin:0 1px 0 0;}

.bt-ok {display:-moz-inline-box;display:inline-block; margin:0 18px 0 0; vertical-align:middle; background:url(../images/spr-btns.png) no-repeat 0 -170px; font-size:12px; line-height:12px; color:#555 !important; text-decoration:none !important; font-weight:600 !important;}
.bt-ok SPAN {display:block; position:relative; left:18px; background:url(../images/spr-btns.png) no-repeat 100% -170px; height:27px; padding:11px 23px 0 0;}
.bt-ok:hover {background-position:0 -210px;}
.bt-ok:hover SPAN {background-position:100% -210px}
.bt-ok SPAN .i16 {position:relative; top:-1px; margin:0 5px 0 0;}


/* Icons 16x16 styles */
.i16 {display:-moz-inline-box;display:inline-block; vertical-align:middle; width:16px; height:16px; background:url(../images/spr-ico.png) no-repeat 0 0;}
.i16_logout {background-position:0 0;}
.i16_plus {background-position:-17px 0;}
.i16_doc {background-position:-34px 0;}
.i16_edit {background-position:-51px 0;}
.i16_duplicate {background-position:-68px 0;}
.i16_delete {background-position:-85px 0;}
.i16_err {background-position:-102px 0;}
.i16_ok {background-position:-119px 0;}
.i16_dp {background-position:-52px -27px; margin-right: 8px}

.link-i16 {padding-left:18px; position:relative;}
.link-i16 .i16 {position:absolute; left:0; top:-2px;}

/* Containers list styles */
ul.radio-list li{padding: 5px 0;}
ul.radio-list b{width: 130px; display: inline-block; font-weight: 600; color: #555555;}
ul.radio-list li span{margin-right: 10px}
ul.checkbox-list li{padding: 7px 0;}
ul.checkbox-list li label{display: inline-block}

ul.fields-list > li{margin: 0 0 10px 0; clear: both}
ul.fields-list li > label{width: 20%; display: inline-block; float: left; margin-top: 6px; font-weight: 500; text-shadow: 1px 1px #e8dcd2; }
ul.fields-list li .field{width: 70%; display: inline-block; float: right;}
ul.fields-list a.isel__head{ color: #767676}
ul.fields-list .field-item{float: left;}
ul.fields-list .field-item label{margin-right: 10px}
ul.fields-list .field_radio{margin-top: 6px;}

ul.fields-list-static{background: #fff1e5; padding: 15px 20px 10px; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
ul.fields-list-static li{margin: 0 0 10px 0}
ul.fields-list-static li label{display: inline-block; font-weight: 500; width: 120px; text-shadow: 1px 1px #e8dcd2}
ul.fields-list-static li span{text-shadow: 1px 1px #f4e7db; font-weight: lighter; color: #555}


/* Dialogs styles */
.popup-dialog{display: none; background: #fff url(../images/pop-h-b-gd.png) bottom left repeat-x !important; color: #555 !important}
.popup-dialog textarea{line-height: 20px}

.controls{text-align: right; margin:1.5em 0 0;}
.controls A, .controls button {margin:0 10px 0 0; font-weight:500;}
.controls .bt-ok {margin:0 25px 0 -5px;}

/* Tree of checkboxes */
#scroll-container{float:left; width:20px; }
#scroll-pane { float:left;overflow: auto; background: #f2f2f2; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;  width: 290px; height:170px;position:relative;border:1px solid #ccc;display:inline}
#scroll-content {position:absolute;top:0;left:0}
.scroll-content-item {background-color:#fcfcfc;color:#003366;width:100px;height:100px;float:left;margin:10px;font-size:3em;line-height:96px;text-align:center;border:1px solid gray;display:inline;}
#slider-wrap{background-color:lightgrey;width:20px;border:1px solid gray;border-left:none;}
#slider-vertical{position:relative;height:100%}
.ui-slider-handle{width:20px;height:10px;margin:0 auto;background-color:darkgray;display:block;position:absolute}

.slide-up{width: 20px; height: 30px; background: red}
.slide-down{width: 20px; height: 30px; background: black}

.treeview, .treeview ul { padding: 0; margin: 0; list-style: none;}
.treeview li {margin: 0; }
.treeview > li{padding: 15px 0 0 25px}
.treeview li li{padding: 10px 0 0 31px;}
.treeview li li li{padding: 2px 0 3px 17px;}
.treeview .hitarea{background: url(../images/spr-ico.png) 0 -23px no-repeat; height: 16px;width: 16px; margin-left: -16px; float: left; cursor: pointer;}
.treeview .hitarea.expandable-hitarea{background-position: -17px -23px}

input.datepicker{padding: 7px 23px 7px 5px; height: 16px; margin-right: -14px; width: 70px; color: #555; background: #f2f2f2; border: 1px solid #ccc; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.chrome .datepicker, .safari .datepicker{height: 15px;}
.ui-datepicker-trigger{position: relative; left: -8px; top: 3px}
.horbar{margin: 0 7px}

/* Filters block */
.filter{background: #f2f2f2; padding: 10px 0; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.filter fieldset{float: left; margin: 0 10px}
.filter fieldset legend{background: #f2f2f2; padding-right: 12px;}
.filter .isel__head em{color: #999 !important; font-style: italic !important; font-size: 0.9em}
.filter .field_sel{width: 160px;}
.filter .easy-button{float: left; margin-top: 3px;}
.filter .field-item{float: left; margin-right: 10px}
.filter input{background: #fff; color: #999 !important; font-style: italic !important}

.scroll-conteiner{position: relative; overflow: auto; margin: 20px 0; border: 1px solid #ccc; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.scroll-conteiner .content{position: absolute; top: 0; left: 0; width: 100%}

.firefox .easy-button{background-position: 100% -256px}
.easy-button{background: url(../images/spr-btns.png) 100% -257px no-repeat; padding: 0 13px 0 0; border: none; display: inline-block}
.easy-button span{background: url(../images/spr-btns.png) 0 -257px no-repeat; display: inline-block; height: 24px; padding: 0 2px 0 17px; line-height: 23px;}

/* Sorted tables */
table.sortable{width: 100%; border-collapse: collapse}
table.sortable th{background: #fff1e5; padding: 10px 0; text-align: left;  font-weight: 500; cursor: pointer; text-shadow: 1px 1px #e8dcd2; color: #555 !important}
table.sortable th:first-child, table.sortable td:first-child{padding-left: 15px; width: 30px;}
table.sortable td{padding: 7px 0}
table.sortable .selectable td{background: #f2f2f2}
table.sortable .nbg{display: inline-block; min-width: 30px; padding: 2px 3px}
table.sortable .hatching{background: url(../images/hatching.png) 0 0 repeat;}
table.sortable .white{background: #fff}
table.sortable .red{background: #ffbcb9}
table.sortable .orange{background: #ffebdb}
table.sortable .header{height: auto; border: none}
table.sortable .i16{background-position:-119px -26px;}
table.sortable .headerSortDown .i16{background-position:-152px -22px;}
table.sortable .headerSortUp .i16{background-position:-136px -26px;}

