/* Reset
----------------*/
HTML {
    font-size:100.01%;
}
HTML,BODY,DIV,SPAN,APPLET,OBJECT,IFRAME,
H1,H2,H3,H4,H5,H6,P,BLOCKQUOTE,PRE,A,ABBR,
ACRONYM,ADDRESS,BIG,CITE,CODE,DEL,DFN,EM,
FONT,IMG,INS,KBD,Q,S,SAMP,SMALL,STRIKE,
STRONG,SUB,SUP,TT,VAR,DL,DT,DD,OL,UL,
LI,FIELDSET,FORM,LABEL,LEGEND,TABLE,
CAPTION,TBODY,TFOOT,THEAD,TR,TH,TD,HR {
    padding:0;
    margin:0;
    border:none;
    outline:none;
    font-family:inherit;
}

DFN,CITE,VAR,ADDRESS,EM {
    font-style:normal;
}
TH,H1,H2,H3,H4,H5,H6 {
    font-weight:normal;
}
TEXTAREA,INPUT,SELECT {
    font-family: 'Ubuntu', arial, sans-serif;
    font-size:1em;
}
SMALL {
    font-size:.85em;
}
OL,UL {
    list-style:none;
}
TABLE {
    border-collapse:collapse;
    border-spacing:0;
}
CAPTION,TH,TD {
    text-align:left;
}
:focus {
    outline:none;
}
SUP,SUB {
    vertical-align:baseline;
    position:relative;
    top:-.5em;
    font-size:.85em;
}
SUB {
    top:.5em;
}


/* Globals 
----------------*/
HTML {
    height:100%;
}
BODY {
    font:12px/18px 'Ubuntu', arial, sans-serif;
    min-width:980px;
    color:#555555;
    background:#f2f2f2;
}


A {
    color:#1b5ab2;
    text-decoration:none;
}
A:hover {
    color:#fa923e;
}

.link-js {
    text-decoration:none;
    border-bottom:1px dashed;
}
.link-js:hover {
    border-bottom:0 none;
}


/* User Generated
----------------------- */	
.ugc {
}
.ugc_small {
}

.ugc STRONG,
.ugc B {
    font-weight:bold;
}
.ugc EM,
.ugc I {
    font-style:italic;
}

.ugc H1,
H1.title {
}
.ugc H2,
H2.title {
}
.ugc H3,
H3.title {
}
.ugc H4,
H4.title {
}

.ugc P,
.ugc UL,
.ugc OL,
.ugc TABLE,
.ugc BLOCKQUOTE {
    margin:0 0 1em;
}

.ugc .annot,
P.annot {
}

.ugc .center {
    text-align:center;
}

.ugc P IMG {
    vertical-align:middle;
}

.ugc .pic-wide {
    margin:2em -25px 2.5em;
    text-align:center;
}
.ugc .pic-wide SMALL {
    display:block;
    text-align:center;
    font-size:13px;
    margin:.75em 0 0;
    font-style:italic;
}


.ugc .pic-left {
    clear:both;
    float:left;
    margin:.5em 20px .5em 0;
}
.ugc .pic-right {
    clear:both;
    float:right;
    margin:.5em 0 .5em  20px;
}
.ugc .pic-center {
    clear:both;
    margin:1em auto;
    text-align:center;
}


.ugc UL,
.ugc OL {
    padding:0;
}
.ugc LI {
    margin:0 0 1.5em;
    padding:0;
}

.ugc UL > LI {
    list-style:none;
    padding:0 0 0 1.1em;
    text-indent:-1.1em;
}
.ugc UL > LI:before {
    content:"— ";
}

.ugc OL > LI {
    list-style:decimal;
    margin-left:1.5em;
}


.ugc .italic {
    font-style:italic;
}

.ugc TABLE {
}
.ugc TH,
.ugc TD {
    padding:2px 10px 2px 0;
}
.ugc TH {
    padding:5px 10px 5px 0;
    border-bottom:1px solid #ebebe9;
}
.ugc TD {
    vertical-align:top;
}
.ugc .td-n {
    text-align:center;
}
.ugc .td-tar {
    text-align:right;
}
.ugc .tr-alt TD {
}

.ugc SMALL {
    font-size:.92em;
}

.ugc BLOCKQUOTE {
}


/* Layout
----------------------- */
.page {
}
.header__i,
.body__i,
.footer__i {
    min-width:940px;
    max-width:1400px;
    margin:0 auto;
    padding:0 20px;
    position:relative;
}	

/* sticky footer */
HTML, BODY, .page {height:100%;}
body > .page {height:auto;min-height:100%;}
.page__i {padding:0 0 60px;}
.footer {
    margin:-40px 0 0;
    height:40px;
    background:#3d3d3d;
    clear:both;
}  



/* Header
----------------------- */
.header {
    height:99px;
    border-top:1px solid #5b5b5b;
    border-bottom:1px solid #fff;
    color:#fff;
    background:#3b3b3b url(../images/header-gd.png) repeat-x 0 0;
}

.header .logo {
    position:absolute;
    left:58px;
    top:17px;
    font-weight:500;
    font-size:24px;
    line-height:24px;
}

.header .user {
    position:absolute;
    right:40px;
    top:17px;
}
.user {
    color:#a3a3a3;
}
.user__welcome {
    display:inline;
    text-shadow:0 -1px 0 #37393b;
}
.user__welcome STRONG {
    font-weight:500;
}
.user .bt-grey {
    margin-left:8px;
    position:relative;
    top:2px;
}

.header .nav {
    position:absolute;
    left:40px;
    top:69px;
}
.header .nav LI {
    float:left;
    margin:0 2px 0 0;
}
.header .nav LI A,
.header .nav LI STRONG {
    float:left;
    font-size:13px;
    font-weight:500;
    color:#fff;
    line-height:13px;
    padding:9px 19px 8px;
    background:#4f4f4f;
    -webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
}
.header .nav LI A:hover {
    color:#fff;
    background:#666;
}
.header .nav LI.cur A,
.header .nav LI STRONG {
    color:#444;
    background:#f2f2f2;
    padding-bottom:9px;
}


/* btns */
.bt-grey {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    margin:0 13px 0 0;
    vertical-align:middle;
    background:url(../images/spr-btns.png) no-repeat 0 0;
    font-size:12px;
    line-height:12px;
    color:#a3a3a3 !important;
    text-decoration:none !important;
    text-shadow:0 -1px 0 #37393b;
}
.bt-grey SPAN {
    display:block;
    position:relative;
    left:13px;
    background:url(../images/spr-btns.png) no-repeat 100% 0;
    height:23px;
    padding:4px 13px 0 0;
}
.bt-grey:hover {background-position:0 -30px;}
.bt-grey:hover SPAN {background-position:100% -30px}
.bt-grey SPAN .i16 {
    position:relative;
    top:-2px;
    margin:0 0 0 -3px;
}

.bt-xl {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    margin:0 23px 0 0;
    vertical-align:middle;
    background:url(../images/spr-btns.png) no-repeat 0 -60px;
    font-size:14px;
    line-height:14px;
    color:#555 !important;
    text-decoration:none !important;
    font-weight:500;
}
.bt-xl SPAN {
    display:block;
    position:relative;
    left:23px;
    background:url(../images/spr-btns.png) no-repeat 100% -60px;
    height:33px;
    padding:17px 23px 0 0;
}
.bt-xl:hover {background-position:0 -115px;}
.bt-xl:hover SPAN {background-position:100% -115px}
.bt-xl SPAN .i16 {
    position:relative;
    top:-1px;
    margin:0 1px 0 0;
}

.bt-l {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    margin:0 18px 0 0;
    vertical-align:middle;
    background:url(../images/spr-btns.png) no-repeat 0 -170px;
    font-size:12px;
    line-height:12px;
    color:#555 !important;
    text-decoration:none !important;
    font-weight:600 !important;
}
.bt-l SPAN {
    display:block;
    position:relative;
    left:18px;
    background:url(../images/spr-btns.png) no-repeat 100% -170px;
    height:27px;
    padding:11px 23px 0 0;
}
.bt-l:hover {background-position:0 -210px;}
.bt-l:hover SPAN {background-position:100% -210px}
.bt-l SPAN .i16 {
    position:relative;
    top:-1px;
    margin:0 5px 0 0;
}


/* icon 16x16 */
.i16 {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    vertical-align:middle;
    width:16px;
    height:16px;
    background:url(../images/spr-ico.png) no-repeat 0 0;
}
.i16_logout {background-position:0 0;}
.i16_plus {background-position:-17px 0;}
.i16_doc {background-position:-34px 0;}
.i16_edit {background-position:-51px 0;}
.i16_duplicate {background-position:-68px 0;}
.i16_delete {background-position:-85px 0;}
.i16_err {background-position:-102px 0;}
.i16_ok {background-position:-119px 0;}

.link-i16 {
    padding-left:18px;
    position:relative;
}
.link-i16 .i16 {
    position:absolute;
    left:0;
    top:-2px;
}


/* Footer
----------------------- */
.footer {
}
.footer__i {
    padding-top:10px;
    color:#a3a3a3;
}

.foo-copy {
    padding-left:20px;
}


/* Body
----------------------- */
.body {
}
.body__i {
    padding-top:20px;
}


/* cols */
.cols {
    overflow:hidden;zoom:1;
    margin:-20px;
    padding:20px;
}
.cols .cols__section,
.cols .cols__side {
    float:left;
    width:100%;
    margin:0 -100% 0 0;
}
.cols .cols__section__i,
.cols .cols__side__i {
    position:relative;
}

.cols_right {
}
.cols_right .cols__section__i {
    margin:0 260px 0 0;
}
.cols_right .cols__side__i {
    width:190px;
    margin:14px 30px 0 auto;
}


/* section-box */
.section-box {
    background:#fff;
    -webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 5px rgba(0,0,0,.2);
    -ms-box-shadow:0 0 5px rgba(0,0,0,.2);
    -o-box-shadow:0 0 5px rgba(0,0,0,.2);
    box-shadow:0 0 5px rgba(0,0,0,.2);
    padding:25px 40px;
}


/* title */
.title {
    margin:0 0 2em;
}
.title H2 {
    font-size:18px;
    font-weight:500;
    line-height:24px;
}

/* data */
.data {
    margin:0 -20px;
}
.data TABLE {
    border-collapse:separate;
    width:100%;
}
.data TH,
.data TD {
    padding:5px 0 5px 20px;
    border-spacing:0; 
}
.data TH {
    color:#fa923e;
    font-weight:500;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.data TD {
    padding:10px 0 10px 20px;
    border:1px solid #fff;
    border-left:none;
    border-right:none;
}
.data TR.tr-odd TD {
    background:#f2f2f2;
}
.data TD.td-first {
    border-left:1px solid #fff;
    padding-left:19px;
}
.data TD.td-last {
    border-right:1px solid #fff;
    padding-right:19px;
}
.data TR:hover TD {
    border-color:#fa923e;
    background:#fff;
}
.data TBODY TR:hover {
    -webkit-box-shadow:0 0 5px rgba(250,146,62,.31);
    -moz-box-shadow:0 0 5px rgba(250,146,62,.31);
    -ms-box-shadow:0 0 5px rgba(250,146,62,.31);
    -o-box-shadow:0 0 5px rgba(250,146,62,.31);
    box-shadow:0 0 5px rgba(250,146,62,.31);
}



.data TD .data__ctrls {
    visibility:hidden;
    float:right;
}
.data TR:hover TD .data__ctrls {
    visibility:visible;
}


.data__ctrls {
    overflow:hidden;zoom:1;
    font-size:11px;
    white-space:nowrap;
}
.data__ctrls LI {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    margin:0 12px 0 0;
}
.data__ctrls LI .i16 {
    margin:0 3px 0 0;
}


/* side-box */
.side-box {
    margin:0 0 25px;
}
.side-box__h {
    font-size:12px;
    font-weight:normal;
    margin:0 0 1em;
}
.side-box .bt-xl {
    margin:0 0 0 -25px;
}

/* doclist */
.doclist {
}
.doclist LI {
    margin:.5em 0;
}



/* isel */
.isel {
}

/* // field_sel */

.isel__pop {
    display:none;
    z-index:40;
    position:absolute;
    background:#fff;
    padding:0 0 0;
    border:1px solid #fa923e;
    border-width:0 1px 1px;
    -webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;

    -webkit-box-shadow:0 2px 5px rgba(250,146,62,.31);
    -moz-box-shadow:0 2px 5px rgba(250,146,62,.31);
    -ms-box-shadow:0 2px 5px rgba(250,146,62,.31);
    -o-box-shadow:0 2px 5px rgba(250,146,62,.31);
    box-shadow:0 2px 5px rgba(250,146,62,.31);

}
.isel__pop UL {
    font-size:12px;
    line-height:16px;
    margin:0 1px;
    padding:0 0 1px;
    border-top:1px solid #ccc;
    max-height:150px;
    overflow:auto;
}
.isel__pop LI {
    margin:1px 0 0;
}
.isel__pop A {
    display:block;
    padding:6px 9px;
    text-decoration:none;
}
.isel__pop .cur A,
.isel__pop A:hover {
    background:#f2f2f2;
}
.isel__pop .cur A {
}
.isel__pop .cur {
}
.isel__pop LI:last-child A {
    -webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;
}



/* popup */
.pop {
    width:360px;
    -webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;

    -webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 5px rgba(0,0,0,.2);
    -ms-box-shadow:0 0 5px rgba(0,0,0,.2);
    -o-box-shadow:0 0 5px rgba(0,0,0,.2);
    box-shadow:0 0 5px rgba(0,0,0,.2);
}
.pop__h {
    background:#3b3b3b url(../images/pop-h-gd.png) repeat-x 0 0;
    height:20px;
    padding:10px 40px;
    color:#fff;
    -webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;
}
.pop__h H3 {
    font-size:14px;
    line-height:20px;
    font-weight:500;
}

.pop__i {
    padding:20px 40px;
    background:#fff url(../images/pop-i-gd.png) repeat-x 0 100%;
    -webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
}

/* jqueryui dialog theming // ui-lightness theme override */
.ui-dialog.ui-widget {
    font:inherit;
}
.ui-dialog.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {
    font:inherit;
}

.ui-dialog .ui-widget-header {
    border:none 0;
    background:#3b3b3b url(../images/pop-h-gd.png) repeat-x 0 0;
    color:inherit;
    font-weight:normal;
    height:20px;
    padding:10px 40px;
    color:#fff;
    -webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;
}
.ui-dialog .ui-widget-header a {
    color:#fff;
}

.ui-dialog .ui-widget-content {
    border:none 0;
    background:none;
    color:inherit;
}
.ui-dialog .ui-widget-content a {
    color:#1b5ab2;
    text-decoration:none;
}
.ui-dialog.ui-widget-content a:hover {
    color:#fa923e;
}


.ui-dialog {
    padding:0;
    width:360px;
    background:none;
    border:0 none;
}
.ui-dialog .ui-dialog-titlebar {
}
.ui-dialog .ui-dialog-title {
    float:left;
    margin:0;
    font-size: 1.2em;
}
.ui-dialog .ui-dialog-content {
    position:relative;
    border:0;
    padding:20px 40px;
    background:#fff url(../images/pop-i-gd.png) repeat-x 0 100%;
    -webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
    overflow:visible;
}
.ui-dialog .ui-dialog-titlebar-close,
.ui-dialog .ui-dialog-buttonpane,
.ui-dialog .ui-resizable-se {
    display:none;
}


/* form */
.form {
}
.form P {
    margin:0 0 .75em;
}
.form .form__section {
    margin-top:1.5em;
}
.form SMALL {
    font-size:11px;
}

.form INPUT[type=checkbox] {
    vertical-align:middle;
    margin:0 .25em 0 0;
    width:13px;
    height:13px;
}
.form LABEL {
    cursor:pointer;
}
.form LABEL INPUT[type=checkbox] {
    position:relative;
    top:-1px;
    cursor:pointer;
}
.webkit .form LABEL INPUT[type=checkbox] {
    top:-2px;
}
.webkit.safari .form LABEL INPUT[type=checkbox] {
    top:-3px;
}

.form__ctrls {
    margin:1.5em 0 0;
}
.form__ctrls A, .form__ctrls button {
    margin:0 10px 0 0;
    font-weight:500;
}
.form__ctrls .bt-l {
    margin:0 25px 0 -5px;
}

/* err */
.err {
    margin:0 0 20px !important;
    background:#ffe1e1;
    -webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;
    padding:12px 35px;
    position:relative;
    font-size:12px;
    line-height:18px;
    color:#aa2121;
}
.err .i16_err {
    position:absolute;
    left:11px;
    top:12px;
}
.err:before {
    content:"";
    position:absolute;
    left:12px;
    top:100%;
    border-top:6px solid #ffe1e1;
    border-left:6px solid #fff;
    border-right:6px solid #fff;
}


/* hr */
.hr {
    overflow:hidden;zoom:1;
    height:0;
    border-top:1px dotted #ccc;
    margin:20px 0 15px;
}


/* field */
.field {
    display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
    background:#f2f2f2;
    border:1px solid #ccc;
    width:120px;
    -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}

.field__i {
    display:block;
    overflow:hidden;zoom:1;
}
.field INPUT,
.field TEXTAREA {
    resize:none;
    border:0 none;
    padding:6px 5px;
    background:none;
    color:#767676;
    font:12px/12px 'Ubuntu', arial, sans-serif;
    width:100%;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
    outline:none !important;
    margin:0;
}

.field_max {
    display:block;
    width:auto;
}
.field_err {
    border:1px solid #aa2121;
    background:#ffe1e1;
}
.field_err INPUT {
    color:#aa2121;
}

.field_focus {
    border:1px solid #fa923e;
    background:#fff;
    -webkit-box-shadow:0 0 5px rgba(250,146,62,.31);
    -moz-box-shadow:0 0 5px rgba(250,146,62,.31);
    -ms-box-shadow:0 0 5px rgba(250,146,62,.31);
    -o-box-shadow:0 0 5px rgba(250,146,62,.31);
    box-shadow:0 0 5px rgba(250,146,62,.31);
}


.field_sel {
    position:relative;
    background:#fff;
    overflow:hidden;zoom:1;
}
.field_sel .isel {
    position:absolute;
    top:-2em;
}
.field_sel .isel__head {
    display:block;
    padding:6px 29px 5px 9px;
    white-space:nowrap;
    overflow:hidden;zoom:1;
}
.field_sel .isel__head I {
    position:absolute;
    right:11px;
    top:13px;
    border-top:4px solid #555;
    border-left:4px solid #fff;
    border-right:4px solid #fff;
}

.field_sel_open {
    border:1px solid #fa923e;
    border-bottom:none 0;
    -webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
    -webkit-box-shadow:0 0 5px rgba(250,146,62,.31);
    -moz-box-shadow:0 0 5px rgba(250,146,62,.31);
    -ms-box-shadow:0 0 5px rgba(250,146,62,.31);
    -o-box-shadow:0 0 5px rgba(250,146,62,.31);
    box-shadow:0 0 5px rgba(250,146,62,.31);
}
.field_sel_open .isel__head {
    color:#fa923e;
    padding-bottom:6px;
}
.field_sel_open .isel__head I {
    border-top-color:#fa923e;
}


/* addit */
.addit {
    font-size:11px;
    line-height:16px;
}
.addit LI {
    margin:0 0 .5em;
}

.clear{clear:both; font-size:1px; height: 0; line-height:0;}
fieldset{border-top: 1px dotted #ff7200; padding: 10px 0 15px 0}
fieldset legend{color: #ff7200; background: #fff; font-weight: 500; text-shadow: 0 1px 0 #ffe3cc; padding: 0 17px 3px 0}

.ui-checkbox{border: none !important; display: inline-block; position: relative; top: 2px}
.ui-checkbox.ui-state-default{background: url(../images/spr-ico.png) -136px 0 no-repeat; width: 14px; height: 14px; display: inline-block}
.ui-checkbox.ui-state-active{background-position: -153px 0;}

.ui-radio{border: none !important; display: inline-block; position: relative; top: 2px}
.ui-radio.ui-state-default{background: url(../images/spr-ico.png) -169px 0 no-repeat; width: 14px; height: 15px;}
.ui-radio.ui-state-active{background-position: -185px 0; }
span.ui-state-active{border: none !important; font-weight: normal !important; color: #555 !important}

ul.radio-list li{padding: 5px 0;}
ul.radio-list b{width: 130px; display: inline-block; font-weight: 600; color: #555555;}
ul.radio-list li span{margin-right: 10px}
ul.checkbox-list li{padding: 7px 0;}
ul.checkbox-list li label{display: inline-block}

ul.fields-list > li{margin: 0 0 10px 0}
ul.fields-list li > label{display: inline-block; float: left; margin-top: 6px; font-weight: 500; text-shadow: 1px 1px #e8dcd2; }
ul.fields-list li .field{display: inline-block; float: right; background-color: #F2F2F2}
ul.fields-list a.isel__head{ color: #767676}
ul.fields-list .field-item{float: left;}
ul.fields-list .field-item label{margin-right: 10px}
ul.fields-list .field_radio{margin-top: 6px;}

ul.fields-list-static{background: #fff1e5; padding: 15px 20px 10px; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
ul.fields-list-static li{margin: 0 0 10px 0}
ul.fields-list-static li label{display: inline-block; font-weight: 500; width: 120px; text-shadow: 1px 1px #e8dcd2}
ul.fields-list-static li span{text-shadow: 1px 1px #f4e7db; font-weight: lighter; color: #555}


.popSS,.popPP, .popVD, .popES, .popAE{ background: #fff url(../images/pop-h-b-gd.png) bottom left repeat-x !important; color: #555 !important}
.popSS textarea,.popPP textarea, .popVD textarea{line-height: 20px}

.popPP .avatar{float: right; width: 102px; text-align: center; background: #f2f2f2; padding: 20px}
.popPP .avatar a{margin-top: 10px; display: inline-block}
.popPP .fields-list{float: left; width: 370px; margin-bottom: 15px;}
.popPP .fields-list li .field{width: 285px;}

.popVD{padding: 20px !important}
.popVD .fields-list{margin: 25px 0 45px; padding: 0 20px}
.popVD .fields-list li .field{width: 255px;}

.ccntrols{text-align: right}

.popES ul.fields-list label{width: 120px}
.popES .fields-list > li{margin: 0 0 20px}

#scroll-container{float:left; width:20px; }
#scroll-pane { float:left;overflow: auto; background: #f2f2f2; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;  width: 290px; height:170px;position:relative;border:1px solid #ccc;display:inline}
#scroll-content {position:absolute;top:0;left:0}
.scroll-content-item {background-color:#fcfcfc;color:#003366;width:100px;height:100px;float:left;margin:10px;font-size:3em;line-height:96px;text-align:center;border:1px solid gray;display:inline;}
#slider-wrap{background-color:lightgrey;width:20px;border:1px solid gray;border-left:none;}
#slider-vertical{position:relative;height:100%}
.ui-slider-handle{width:20px;height:10px;margin:0 auto;background-color:darkgray;display:block;position:absolute}

.slide-up{width: 20px; height: 30px; background: red}
.slide-down{width: 20px; height: 30px; background: black}

.treeview, .treeview ul { padding: 0; margin: 0; list-style: none;}
.treeview li {margin: 0; }
.treeview > li{padding: 15px 0 0 25px}
.treeview li li{padding: 10px 0 0 31px;}
.treeview li li li{padding: 2px 0 3px 17px;}
.treeview .hitarea{background: url(../images/spr-ico.png) 0 -23px no-repeat; height: 16px;width: 16px; margin-left: -16px; float: left; cursor: pointer;}
.treeview .hitarea.expandable-hitarea{background-position: -17px -23px}

.datepicker{padding: 7px 23px 7px 5px; height: 16px; margin-right: -14px; width: 70px; color: #555; background: #f2f2f2; border: 1px solid #ccc; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.chrome .datepicker, .safari .datepicker{height: 15px;}
.ui-datepicker-trigger{position: relative; left: -8px; top: 3px}
.horbar{margin: 0 7px}

.ui-datepicker{background: #fff url(../images/dp-bg.png) 0 0 repeat-x;}
.ui-datepicker .ui-widget-header{background: none; border: none}
.ui-datepicker .ui-datepicker-prev{background: #ededed; border: 1px solid #cbd1d6; border-top: 1px solid #a0a4a8; left: 8px; top: 3px; -webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.firefox .ui-datepicker-prev, .firefox .ui-datepicker .ui-datepicker-prev-hover{top: 3px}
.ui-datepicker .ui-datepicker-prev-hover{ left: 8px; top: 3px}
.ui-datepicker .ui-datepicker-prev .ui-icon{background: url(../images/spr-ico.png) -102px -26px no-repeat;}
.ui-datepicker .ui-datepicker-next{background: #ededed; border: 1px solid #cbd1d6; border-top: 1px solid #a0a4a8; right: 7px; top: 3px; -webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;}
.firefox .ui-datepicker-next, .firefox .ui-datepicker .ui-datepicker-next-hover{top: 3px}
.ui-datepicker .ui-datepicker-next-hover{ right: 7px; top: 3px}
.ui-datepicker .ui-datepicker-next .ui-icon{background: url(../images/spr-ico.png) -85px -26px no-repeat;}
.ui-datepicker h3{color: #FFFFFF; text-shadow: 1px 1px 0 #9a9a9a; font-size: 1em; font-weight: 500; height: 27px; line-height: 23px; margin-bottom: 5px; padding: 0 8px;}
.ui-datepicker .ui-datepicker-title select{height: 25px}
.ui-datepicker .ui-datepicker-week-end span{color: #ff7200 !important}
.ui-datepicker .ui-datepicker-calendar th span{color: #999;}
.ui-datepicker .ui-datepicker-calendar td{padding: 0;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month a{background: none; border: 1px solid #fff; color: #999}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month a.ui-state-hover{background-color: #fff}
.ui-datepicker .ui-datepicker-calendar td a{color: #333; text-align: center; background: #f2f2f2; border: 1px solid #fff; border-left-color: #f2f2f2; border-right-color: #f2f2f2;}
.ui-datepicker .ui-datepicker-calendar a.ui-state-hover{border: 1px solid #a0a4a8; background: #999}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a{background: #fff; border: 1px solid #a0a4a8}

.i16_dp {background-position:-52px -27px; margin-right: 8px}


.filter{background: #f2f2f2; padding: 10px 0; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.filter fieldset{float: left; margin: 0 10px}
.filter fieldset legend{background: #f2f2f2; padding-right: 12px;}
.filter .isel__head em{color: #999 !important; font-style: italic !important; font-size: 0.9em}
.filter .field_sel{width: 160px;}
.filter .easy-button{float: left; margin-top: 3px;}
.filter .field-item{float: left; margin-right: 10px}
.filter input{background: #fff; color: #999 !important; font-style: italic !important}

#left-fieldset{width: 32%}
#right-fieldset{width: 62%}
#value_field{width: 50px;}
.chrome #value_field, .safari #value_field, .msie  #value_field{height: 29px }
#value_field input{padding: 7px; }
.chrome #value_field input, .safari #value_field input{padding: 14px 7px 0; line-height: 0 }
#date_pickers{margin: 0}
#assign_name{margin-right: 3px}

.scroll-conteiner{position: relative; overflow: auto; margin: 20px 0; border: 1px solid #ccc; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.scroll-conteiner .content{position: absolute; top: 0; left: 0; width: 100%}

.popAE{padding: 20px !important}
.popAE .scroll-conteiner{height: 200px; margin-bottom: 40px }

.firefox .easy-button{background-position: 100% -256px}
.easy-button{background: url(../images/spr-btns.png) 100% -257px no-repeat; padding: 0 13px 0 0; border: none; display: inline-block}
.easy-button span{background: url(../images/spr-btns.png) 0 -257px no-repeat; display: inline-block; height: 24px; padding: 0 2px 0 17px; line-height: 23px;}

table.sortable{width: 100%; border-collapse: collapse}
table.sortable th{background: #fff1e5; padding: 10px 0; text-align: left;  font-weight: 500; cursor: pointer; text-shadow: 1px 1px #e8dcd2; color: #555 !important}
table.sortable th:first-child, table.sortable td:first-child{padding-left: 15px; width: 30px;}
table.sortable td{padding: 7px 0}
table.sortable .selectable td{background: #f2f2f2}
table.sortable .nbg{display: inline-block; min-width: 30px; padding: 2px 3px}
table.sortable .hatching{background: url(../images/hatching.png) 0 0 repeat;}
table.sortable .white{background: #fff}
table.sortable .red{background: #ffbcb9}
table.sortable .orange{background: #ffebdb}
table.sortable .header{height: auto; border: none}
table.sortable .i16{background-position:-119px -26px;}
table.sortable .headerSortDown .i16{background-position:-152px -22px;}
table.sortable .headerSortUp .i16{background-position:-136px -26px;}

.ui-button { margin-left: -1px; height: 33px; background: #fff !important; border: 1px solid #ccc !important; border-left: none !important;}
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input{margin: 0 -28px 0 0; padding: 9px 20px 9px 9px; border: 1px solid #ccc !important; border-right: none !important; background: #fff !important; -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.ui-autocomplete-input:focus{border: 1px solid #FA923E}
.ui-button .ui-button-icon-only .ui-icon{border-left: 4px solid #FFFFFF;border-right: 4px solid #FFFFFF;border-top: 4px solid #555555;}
.ui-state-default .ui-icon{background-image: url("images/ui-icons_222222_256x240.png") !important}
.ui-menu{background: #fff; padding: 1px !important; -webkit-border-radius: 3px 3px 0 0 !important;-moz-border-radius: 3px 3px 0 0!important;-ms-border-radius: 3px 3px 0 0!important;-o-border-radius: 3px 3px 0 0!important;border-radius: 3px 3px 0 0 !important;}
.ui-menu li{height: 30px}
.ui-menu li:hover{background: #F2F2F2 !important;}
.ui-menu .ui-menu-item a{color: #1B5AB2 !important}
.ui-menu .ui-menu-item a:hover{background: #F2F2F2 !important; color: #FF7200 !important; border: 1px solid #F2F2F2 !important;  -webkit-border-radius:0 !important;-moz-border-radius:0 !important;-ms-border-radius:0 !important;-o-border-radius:0 !important;border-radius:0 !important;}

#assign_name .ui-autocomplete-input, #assigb_by_field .ui-autocomplete-input{width: 136px}
.firefox #value_field input{padding: 9px}



